@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tileColor: rgb(189, 192, 165);
    --white: rgb(255, 255, 255);
}

html,
body {
    height: 100%;
    font-family: "Open Sans";
}


main {
    background: #DCDCDC;
    position: relative;
    overflow: hidden;
}

/*Akademiker pension's header*/

header {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    cursor: pointer;
    width: 25px;
    margin-right: 20px;
}

nav img:nth-child(4) {
    margin-right: 0;
}

/*Picture and svgs*/
.leaves {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    z-index: 4;
}

.leaves:nth-child(2) {
    position: absolute;
    top: 73.1%;
    left: 0;
    transform: rotate(0);
}

section {
    z-index: 5;
}

.calculator {
    background-color: white;
    text-align: center;
}

.container > * {
    margin-bottom: 30px;
}

.container button {
    width: 65%;
    border: 1px solid;
    padding: 10px 0;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background: orange;
    cursor: pointer;
}

.form-card {
    position: relative;
}

.form-card p {
    position: absolute;
    color: white;
}

#outcome {
    top: 20%;
    left: 30%;
    font-size: 14px;
}

#month {
    top: 40%;
    left: 30%;
    font-size: 20px;
}

/*calculator*/

input {
    width: 80%;
    display: block;
}

.container img {
    margin-top: 20px;
}

/*aside menu*/

aside {
    background: #386082;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    transition: 1s ease-out;
    opacity: 1;
    z-index: 10;
    padding: 40px;
    transform: translateX(100%);
    overflow: auto;
}

.show {
    transform: translateX(0);
}



.inside {
    border: 2px black;
    height: 200px;
    background: #218169;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inside h3 {
    font-size: 26px;
    color: white;
}


h5 {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

/*Desktop View*/

@media screen and (orientation: landscape) {

    body {
        width: 100%;
        display: grid;
        grid-template-rows: clamp(60px, 7vw, 90px) 1fr;
        grid-template-columns: 1fr;
        background: #757575;
    }

    header {
        grid-row: 1/2;
        grid-column: 1/-1;
        padding: 0 10%;
    }

    main {
        grid-row: 2/3;
        grid-column: 1/-1;
        display: grid;
        /* clamp = (min, value, max)*/
        grid-template-columns: 1fr clamp(700px, 80vw, 1200px) 1fr;
        /* below pieces of code look like the dont work but browsers can read it */
        /* I'm using cals to remain aspect-ratio */
        grid-template-rows: 1fr calc(clamp(700px, 80vw, 1200px)*0.43) 1fr;
    }

    .all {
        grid-row: 2/3;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 36% 1fr 54%;
        grid-template-rows: 1fr;
    }

    .calculator {
        grid-row: 1/-1;
        grid-column: 1/2;
        border-radius: 5%;
    }

    .categories {
        grid-row: 1/-1;
        grid-column: 3/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 5%;
        grid-column-gap: 4%;
    }

}

@media screen and (orientation: portrait) {
    body {
        width: 100%;
        display: grid;
        grid-template-rows: clamp(40px, 7vh, 60px) 1fr;
        grid-template-columns: 1fr 1fr;

        /* overflow: hidden; */
    }

    header {
        grid-row: 1/2;
        grid-column: 1/-1;
        padding: 0 2%;
    }

    main {
        grid-row: 2/-1;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 80vw 1fr;
        grid-template-rows: 20vw 1fr;

    }

    .all {
        grid-row: 2/3;
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 75vw 50vw 100vw;
        grid-template-columns: 1fr;
    }

    .categories {
        grid-row: 1/2;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(2, 38.4vw);
        grid-template-rows: repeat(3, calc(38.4vw * 0.6));
        grid-row-gap: 4%;
        grid-column-gap: 4%;
        /* background-color: yellow; */
    }

    .calculator {
        grid-row: 3/4;
        grid-column: 1/2;
        border-radius: 5%;
    }

    aside {
        width: 100%;
    }
}

.card {
    background-color:#386082;
    border-radius: 5%;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}

.card .content {
    /* border: 2px solid rgba(0, 0, 0, 0.733); */
    border-radius: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.card:hover {
    transform: translateY(-7px);
    transition: .2s;
    transition-timing-function: ease-in-out;
    z-index: 2;
}

.close{
    width: 40px;
    padding-bottom: 40px;
    /* background-color: tomato; */
    transform: translate(-100%, -100%);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    cursor: pointer;
}
.close::before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
    left: 50%;
    height: 80%;
    width: 7%;
    background-color: white;
    transition-timing-function: ease;
    transition-duration: .2s;
}
.cross{
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
    height: 80%;
    width: 7%;
    background-color: white;
    transition-timing-function: ease;
    transition-duration: .2s;
}
.close:hover .cross{
    transform: translate(-50%, -50%) rotate(55deg)
}

.close:hover::before{
    transform: translate(-50%, -50%) rotate(-55deg);
}

a {
    text-decoration: none;
}