@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tileColor: rgb(189, 192, 165);
    --white: rgb(255, 255, 255);
}

html,
body {
    min-height: 100vh;
    font-family: "Open Sans";
    background-color: #386082;
}




/*Akademiker pension's header*/

header {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    cursor: pointer;
    width: 25px;
    margin-right: 20px;
}

nav img:nth-child(4) {
    margin-right: 0;
}




/*Akademiker article*/

main {
    background: #386082;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    
}

article {
    
    background: white;
    border-radius: 20px 0 20px 0;
    padding: 100px 150px;
    color: #386082;
    width: 100%;
}

h1 {
    margin-bottom: 50px;
    font-size: 26px;
}

h4, h5 {
    margin-top: 40px;
    font-size: 20px;
}

p {
    width: 100%;
    
}

/* footer */

footer {
    color: white;
    background: #413E83;
    height: 200px;
    width: 800px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

strong {
    font-size: 16px;
}

b {
    font-size: 22px;
}



footer img {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80px;
    height: 70px;
}

@media screen and (orientation: landscape) {


    header {
        grid-row: 1/2;
        grid-column: 1/-1;
        padding: 0 10%;
    }


}

footer a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
}

footer a:nth-child(2){
    margin-left: 50px;
    background: #FF9632;
}

.line {
    margin-top: 50px;
}

.logo p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

article a {
    text-decoration: none;
    color: #386082;
}